<center> <h1> This is Contact Page</h1> </center>
<br>
<div class="container">
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Boby</h5>
        <p class="card-text">My name is boby, my hoby is ...</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alif</h5>
        <p class="card-text">I am alif, i am 23 years old, i am ...</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Andy</h5>
        <p class="card-text">My name is andy, my job is ...</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
</div>