<!-- Top navigation -->
<div class="topnav">
  <!-- Left-aligned links (default) -->
  <a class="navbar-brand text-danger" >Expressku</a>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</div>