<br>
<div class="container">
  <table class="table table-striped table-dark">        
    <thead>
      <center><h2>Contact List</h2></center>
      <div class="add">
      <a href="/add_contact" button type="button" class="btn btn-outline-dark" > Add data</a>
      </div>
    <% if (contacts.length < 1 ) { %> <!-- Terdapat hanya 3 data array, maka hasilnya akan empty -->
     <p>Contact is empty</p>
    <% } else { %>
      <tr>
        <th scope="col"> No </th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        <!-- <th scope="col">Mobile</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <% contacts.forEach((contacts, i) => { i++ %>
          <td><%= i %></td>
        <td><%= contacts.name %></td>
        <td> <%= contacts.email %></td>
        <td> <a href="/detail/<%= contacts.name %>" button type= button class="btn btn-outline-success">Details</a></td>
      </tr>
      <% })}; %>
    </tbody>
  </div>
  </table>
