  <div class="container">
      <div class="row">
        <div class="text-center">
          <div class="display-5"> This is about page</div>
          <br>
          <img src="img/bob.png" class="img-thumbnail" height="350" width="350" alt="bob">
            <div class="display-4"> Boby Maulana</div>
            <div class="lead"> WGS Bootcamp </div>
        </div>
      </div>
  </div>